.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1c1c21;
  max-width: 720px;
  max-height: 720px;
  width: 100%;
  border-radius: 40px;
  z-index: 100;
}

.title {
  max-width: 640px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title svg:hover {
  cursor: pointer;
}
